<div class="carousel">
  <div class="carousel-wrapper">
    <div class="carousel-overflow-container">
      <div
        class="carousel__cards"
        [ngStyle]="{
          transform: 'translateX' + '(' + currentOffset + 'px' + ')',
          marginLeft: dynamicMarginLeft + 'px'
        }"
      >
        <div *ngFor="let place of myNearByPlaces" class="carousel__card">
          <app-card
            [placeName]="place.name"
            [placePhoto]="place.photoUrl"
          ></app-card>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showNav" class="carousel__nav-btns">
    <div
      class="nav-btn__left"
      [class.nav-btn--disabled]="isHeadOfList"
      (click)="moveCarousel(-1)"
    ></div>

    <div
      class="nav-btn__right"
      [class.nav-btn--disabled]="isEndOfList"
      (click)="moveCarousel(1)"
    ></div>
  </div>
</div>
