<div class="card card__text">
  <div class="card__info">
    <img
      class="card__img"
      src="https://static01.nyt.com/images/2019/03/24/travel/24trending-shophotels1/24trending-shophotels1-superJumbo.jpg"
      alt="hotel room"
    />
    <div class="card__description">
      <div>
        <h1 class="card__text--title">Berlin Tauentzienstraße</h1>
        <p class="card__text--paragragh">3.5 km from the city center</p>
      </div>
      <div>
        <h1 class="card__text--price">98$</h1>
        <p class="card__text--paragragh">Designs may vary</p>
      </div>
    </div>
  </div>
  <button class="btn btn--orange card__text--title">Book</button>
</div>
