<div class="main-menu__container">
  <ul class="main-menu__list">
    <li class="main-menu__item">
      <a
        href="https://www.limehome.com/en/company/"
        target="_blank"
        class="main-menu__link"
        >About us</a
      >
    </li>
    <li class="main-menu__item">
      <a
        href="https://www.limehome.com/our-locations"
        target="_blank"
        class="main-menu__link"
        >Our locations</a
      >
    </li>
    <li class="main-menu__item">
      <a
        href="https://www.limehome.com/en/lease-to-limehome/"
        target="_blank"
        class="main-menu__link"
        >Lease to Limehome</a
      >
    </li>
    <li class="main-menu__item main-menu__item--signature">
      <p class="main-menu__link">
        Made with
        <span
          ><img
            class="main-menu__icon"
            src="https://img.icons8.com/cotton/2x/like.png"
            alt="heart_icon"
        /></span>
        by
        <a href="https://youtu.be/TpKjRmUre6o" target="_blank" class="signed"
          >Chiheb</a
        >
      </p>
    </li>
  </ul>
  <div class="overlay">
    <div class="site-content overlay__content"></div>
  </div>
</div>
